[submodule "third_party/IsaacLab"]
	path = third_party/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "third_party/urban-sim"]
	path = third_party/urban-sim
	url = https://github.com/metadriverse/urban-sim.git
[submodule "third_party/IsaacSim-ros_workspaces"]
	path = third_party/IsaacSim-ros_workspaces
	url = https://github.com/isaac-sim/IsaacSim-ros_workspaces.git
# this is for quick development
# automatically update to the Omniverse extension community
# but it needs some times to sync
[submodule "third_party/PeopleAPI"]
	path = third_party/PeopleAPI
	url = https://github.com/worv-ai/PeopleAPI
[submodule "third_party/FoodAssets"]
	path = third_party/FoodAssets
	url = https://github.com/worv-ai/FoodAssets
[submodule "third_party/navigation2"]
	path = third_party/navigation2
	url = https://github.com/ros-navigation/navigation2.git
