[submodule "third_party/IsaacLab"]
	path = third_party/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "third_party/urban-sim"]
	path = third_party/urban-sim
	url = https://github.com/metadriverse/urban-sim.git
[submodule "third_party/IsaacSim-ros_workspaces"]
	path = third_party/IsaacSim-ros_workspaces
	url = https://github.com/isaac-sim/IsaacSim-ros_workspaces.git
[submodule "third_party/visualnav-transformer"]
	path = third_party/visualnav-transformer
	url = https://github.com/robodhruv/visualnav-transformer
[submodule "third_party/diffusion_policy"]
	path = third_party/diffusion_policy
	url = https://github.com/real-stanford/diffusion_policy.git
